
.form__container {
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    flex-basis: calc(50% - 15px);
    flex-grow: 1;
}

.form__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-accent);
}
.social-icons__footer {
    padding: 0;
}
.form__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-color-accent);
}
.form__footer {
    display: flex;
    justify-content: flex-end;
}
.form__button {
    margin-left: 12px;
    width: 200px;
}
.form__button--footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:focus, 
    &:hover {
        background-color: var(--button-focus-color);
    }
}

.icon-send {
    margin-left: 10px;
}
